<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="html/css/material.indigo-pink.css">
    <link rel="stylesheet" href="html/css/index.css">
    <title>EPIJudge</title>
</head>
<body>
<script src="html/js/vue.js"></script>
<script src="html/js/material.js"></script>
<script src="problem_mapping.js"></script>
<script src="html/js/helpers.js"></script>

<div id="epijudge-app">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header" style="background-color: #002f6c">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title" style="font-size: xx-large; margin-left: -70px;">EPIJudge</span>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <h3>{{progress.solved}}/{{progress.total}}</h3>
                        <score-donut :x="progress.solved/progress.total" />
                </nav>
                <!-- <div>
                    <select name="language" :selected="langs[0]" @change="onLangSelect">
                        <option v-for="lang in all_langs" :key="lang" :value="lang" > {{ langs_displayname[lang] }} </option>
                      </select>
                </div> -->
            </div>
        </header>
        <main class="epi_content mdl-layout__content">
            <div class="chapter-card-block">
                <div class="fixed-scroller">
                    <chapter-card v-for="chapter in chapters" v-bind:chapter="chapter"></chapter-card>
                    <div class="spacer"></div>
                </div>
            </div>
            <div class="chapter-details" v-if="selected_chapter">
                    <problem-card v-for="p in selected_chapter.problems" 
                    :problem="p" :key="p.name"></problem-card>
                    <div class="spacer"></div>
            </div>
        </main>
    </div>
</div>

<script src="html/js/index.js"></script>

</body>
</html>