
.fade-enter-active {
    transition: opacity 0.5s;
}

.fade-leave-active {
    transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
    height: 0;
}

.expand-enter-active,
.expand-leave-active {
  transition: all 0.5s;
  max-height: 1500px;
}
.expand-enter,
.expand-leave-to
{
  opacity: 0;
  max-height: 0;
}

.chapter-card-block {
}

.problem-card-block {

}

.problem-name {
    flex-grow: 1;
    font-size: medium;
    margin-right: 10px;
}

.chapter-card-wide.mdl-card {
    width: 600px;
    min-height: unset!important;
    padding-bottom: 15px;
    cursor: pointer;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    box-shadow: none;
}

.chapter-card-wide > .mdl-card__title {
    color: #000000;
    height: 60px;
}

.problem-card-wide > .mdl-card__title {
    color: #000000;
    height: 20px;
}

.problem-card-wide.mdl-card {
    width: 700px;
    margin: 2px auto auto;
    position: relative;
    left: 10px;
    min-height: 0px;
    padding-left: 10px;
    box-shadow: none;
}

.centered {
    margin: auto;
    display: block;
}

.problem-card-content {
    display: flex;
    align-items: center;
    height: 70px;
}

.epi_content {
    background-color: #efefef;
    font-family: "Roboto Light", sans-serif;
    padding-bottom: 40px;
    display: flex;
}

.chapter-plot {
    width: 100%;
    display: inline-block;
}

.chapter-plot p {
    text-align: center;
    margin: 0;
}

.problem-plot {
    margin: 0 3px;
}

.problem-plot p {
    text-align: center;
    font-size: 11px;
    line-height: 14px;
    margin: 0;
}

.chapter-bar {
    height: 10px;
    background: #eee;
    position: relative;
    overflow: hidden;
}

.chapter-inner-bar{
    position: absolute;
    height: 100%;
    left: 0;
    background: rgb(105, 150, 247);
}

.mdl-card__title-text {
    font-size: 18px;
    padding: 10px;
    padding-left: 0;
    height: 18px;
}

.mdl-card__title {
    padding: 0;
    height: 40px !important;
}

.selected-chapter {
    background: rgb(50, 50, 85);
}
.selected-chapter h2 {
    color: #eee;
}

.chapter-details {
    padding: 10px;
    padding-bottom: 100px;
}
.scroller {
    max-height: 90vh;
    overflow-y: auto;
    padding-right: 20px;
}